<header>
  <app-header />
</header>
<main>
  <app-left-sidebar />
  <form>
    <div class="cols">
      <div class="col">
           <app-form-input [(value)]="nomeSistema" inputType="text" inputId="nomeSistema" placeholder="Nome do sistema" />
           <app-form-input [(value)]="cicloEntrega" inputType="text" inputId="cicloEntrega" placeholder="Ciclo de entrega" />
           <app-form-input [(value)]="diretoria" inputType="text" inputId="diretoria" placeholder="Diretoria" />
           <app-form-input [(value)]="ganhosPorProcesso" inputType="text" inputId="ganhosPorProcesso" placeholder="Ganhos por processo (Horas)" />
           <app-form-input [(value)]="valorMedioHora" inputType="text" inputId="valorMedioHora" placeholder="Valor médio da hora" />
           <app-form-input [(value)]="descricaoSistema" inputType="textarea" inputId="descricaoSistema" placeholder="Descrição do sistema" />
      </div>
      <div class="col">
          <app-form-input [(value)]="areaImpactada" inputType="text" inputId="areaImpactada" placeholder="Área impactada" />
          <app-form-input [(value)]="horasDesenvolvimento" inputType="text" inputId="horasDesenvolvimento" placeholder="Horas de desenvolvimento" />
          <app-form-input [(value)]="unidade" inputType="text" inputId="unidade" placeholder="Unidade" />
          <app-form-input [(value)]="repeticao" inputType="text" inputId="repeticao" placeholder="Repetição do processo (Mensal)" />
          <app-form-input [(value)]="classificacao" inputType="select" inputId="classificacao" placeholder="Classificação da entrega" />
          <app-form-input [(value)]="descricaoGanhos" inputType="textarea" inputId="descricaoGanhos" placeholder="Descrição dos ganhos" />
      </div>
    </div>
    <div class="actions">
      <app-form-action buttonClass="success" buttonText="Registrar" (click)="onSubmit()" />
    </div>
  </form>
</main>
