<header>
  <app-header />
</header>
<main>
  <form>
    <div class="cols">
      <div class="col">
           <app-form-input inputType="text" inputId="id" placeholder="Label" />
           <app-form-input inputType="text" inputId="id" placeholder="Label" />
           <app-form-input inputType="text" inputId="id" placeholder="Label" />
           <app-form-input inputType="text" inputId="id" placeholder="Label" />
           <app-form-input inputType="text" inputId="id" placeholder="Label" />
           <app-form-input inputType="text" inputId="id" placeholder="Label" />
           <app-form-input inputType="textarea" inputId="id" placeholder="Label" />
      </div>
      <div class="col">
          <app-form-input inputType="text" inputId="id" placeholder="Label" />
          <app-form-input inputType="text" inputId="id" placeholder="Label" />
          <app-form-input inputType="text" inputId="id" placeholder="Label" />
          <app-form-input inputType="text" inputId="id" placeholder="Label" />
          <app-form-input inputType="text" inputId="id" placeholder="Label" />
          <app-form-input inputType="text" inputId="id" placeholder="Label" />
          <app-form-input inputType="textarea" inputId="id" placeholder="Label" />
      </div>
    </div>
    <div class="actions">
      <app-form-action buttonClass="success" buttonText="Salvar" />
    </div>
  </form>
</main>
