header {
  margin: 5vh auto 5vh auto;
  width: 50vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

main form {
  display: flex;
  gap: 3em;
}

main form .col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
