.sidebar {
  position: absolute;
  width: 250px;
  left: 0;
  top: 0;
  background-color: var(--cinza);
  height: 100vh;
  padding: 0em 2em 0em 1.25em;
  border-radius: 0 25px 25px 0;
  transition: width 0.2s ease-in-out, left 0.3s ease-in-out;
}

.sidebar-close {
  width: 80px;
  overflow: hidden;
  padding: 0;
}

.sidebar-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1.5em;
}

.sidebar-actions h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.sidebar-actions button {
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 3em 0 3em 0;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  transition: .35s;
  padding: .5em;
  border-radius: 10px;
}

.sidebar ul li:hover {
  background-color: var(--azul);
  color: var(--branco);
  border-radius: 10px;
}

.sidebar ul li:hover a {
  color: var(--branco);
}

.sidebar ul li:hover img {
    filter: invert(1) sepia(1) hue-rotate(180deg) saturate(10000%);
}

.sidebar ul li img {
  width: 35px;
  color: white;
}

.sidebar ul li a {
  padding-left: 1em;
  color: var(--preto);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
}

.sidebar-closed-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-closed-items a {
  padding: 0em !important;
}
