<div class="sidebar" [ngClass]="{'sidebar-close': isClosed}">
  <div class="sidebar-actions">
    @if (!isClosed) {
      <h2><img src="../../assets/white-label.png"> Sua empresa</h2>
      <button (click)="onToggleSidebar()"><i class="bx bxs-x-square"></i></button>
    } @else {
      <button (click)="onToggleSidebar()"><i class='bx bx-menu'></i></button>
    }
  </div>
  @if (!isClosed) {
    <ul>
      <li>
        <img src="../../assets/form.png" alt="Formulário">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >Formulário</a>
      </li>
      <li>
        <img src="../../assets/chart.png" alt="Dashboard">
        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
      </li>
    </ul>
  } @else {
    <ul class="sidebar-closed-items">
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active" ><img src="../../assets/form.png" alt="Formulário"></a>
      </li>
      <li>
        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" ><img src="../../assets/chart.png" alt="Dashboard"></a>
      </li>
    </ul>
  }
</div>
